// ===== HEADER SECTION =====
.nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // header logo
  &__logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-weight: var(--font-semi-bold);
    color: var(--title-color);

    &-img {
      width: 1.25rem;
    }
  }

  // header menu
  &__menu {
    @media screen and (max-width: 767px) {
      position: fixed;
      width: 100%;
      top: -100%;
      left: 0;
      text-align: center;
      padding: 4rem 0;
      background: var(--container-color);
      border-radius: 0 0 1.5rem 1.5rem;
      transition: 0.3s;
      z-index: var(--z-fixed);
    }

    &-link,
    &-close,
    &-logo {
      color: var(--title-color);
    }

    &-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 1.5rem;
    }

    &-link {
      font-weight: var(--font-semi-bold);

      &:hover {
        color: var(--text-color);
      }

      &.link-active {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          top: 1.5rem;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 5px;
          height: 5px;
          background-color: var(--title-color);
          border-radius: 50%;
        }
      }
    }

    &-close {
      position: absolute;
      font-size: 1.25rem;
      top: 2rem;
      right: 1.5rem;
      cursor: pointer;
    }

    &-img {
      position: absolute;
      width: 100px;
      top: 0;
      left: 0;
    }
  }

  // header toggle
  &__toggle {
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
  }

  // SHOW HEADER MENU
  .show-menu {
    top: 0;
  }
}
